<a class="event-card col-sm-6 col-md-4 link-underline link-underline-opacity-0 overflow-auto" href="/events/{{id}}">
    <section>
        <img class="card-img-top" src="{{imageSrc}}" alt="">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            
                <p class="card-subtitle mb-2 text-body-secondary">Created by: {{user.username}}</p>
                <h6>Description:</h6>
                <div class="card-text"><p>{{description}}</p>
            </div>
        </div>
    </section>
</a>
