<<<<<<< HEAD
<a class="card col-sm-6 col-md-4 link-underline link-underline-opacity-0 overflow-auto" href=""><section>
        <img class="card-img-top" src="https://image-placeholder.com/images/actual-size/200x200.png" alt="">
        <div class="card-body">
            <h5 class="card-title">This is an Example Event Title</h5>
            <p class="card-subtitle mb-2 text-body-secondary">Created by: Example User</p>
            <h6>Description:</h6>
            <div class="">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto enim nam beatae alias, neque aspernatur
                tempore cum delectus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto enim nam beatae alias, neque aspernatur
                tempore cum delectus!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto enim nam beatae alias, neque aspernatur
                tempore cum delectus!Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto enim nam beatae alias, neque aspernatur
                tempore cum delectus!</p>
                </div>
</section></a>
=======
<a class="event-card col-sm-6 col-md-4" href="/events/{{id}}">
    <section>
        <img class="card-img-top" src="{{imageSrc}}" alt="">
        <div class="card-body">
            <h2 class="card-title">{{title}}</h2>
            <div class="card-text">
                <h3>Created by: {{user.username}}</h3>
                <h4>Description:</h4>
                <p>{{description}}</p>
            </div>
        </div>
    </section>
</a>
>>>>>>> origin
