
<div class="col-md-6 col-lg-4 mb-4">
    <div class="home-item card overflow-hidden">
        <a href="/events/{{id}}" class="text-decoration-none">
            <div class=" img-wrapper ">
                <img class="card-img-top" src="{{imageSrc}}" alt="Card image">
            </div>

            <div class="card-body">
                <h4 class="card-title">{{title}}</h4>
                <p class="card-text">{{description}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Created by: <span class="h5">{{capitalize user.username}}</span></li>
                <li class="list-group-item">Address: {{address}}</li>
            </ul>
        </a>
    </div>
</div>