<a class="event-card col-sm-6 col-md-4" href="/events/{{id}}">
    <section>
        <img class="card-img-top" src="{{imageSrc}}" alt="">
        <div class="card-body">
            <h2 class="card-title">{{title}}</h2>
            <div class="card-text">
                <h3>Created by: {{user.username}}</h3>
                <h4>Description:</h4>
                <p>{{description}}</p>
            </div>
        </div>
    </section>
</a>