<div class="card">
  <header>
    {{#if isCreate}}
    <h2>Create New Event</h2>
    {{else}}
    <h2>Edit Event</h2>
    {{/if}}
  </header>
  <div>
    {{#if isCreate}}
    <form action="/api/events" enctype="multipart/form-data" method="post">
      <div>
        <div class="lead">Image</div>
        <input type="file" name="image" required>
      </div>
      {{else}}
      <form>
        {{/if}}

        <div>
          <div class="lead">Title</div>
          <input type="text" id="event-title" name="title" value="{{title}}" required>
        </div>

        <div>
          <div>Description</div>
          <textarea class="form-control mb-3" rows="5" id="event-description" name="description" required>{{description}}</textarea>
        </div>

        <div>
          {{#if isCreate}}
          <button id="create-event">Create</button>
          {{else}}
          <button id="update-event" class="btn btn-primary">Update</button>
          <button type="button" id="delete-event" class="btn btn-primary">Delete</button>
          {{/if}}
        </div>

      </form>
  </div>
</div>


<script src="/js/event.js"></script>