
<div>
  <header>
    {{#if isCreate}}
    <h2>Create New Event</h2>
    {{else}}
    <h2>Edit Event</h2>
    {{/if}}
  </header>
  <div>
    {{#if isCreate}}
    <form action="/api/events" enctype="multipart/form-data" method="post">
      <div>
        <div>Image</div>
        <input type="file" name="image" required>
      </div>
      {{else}}
      <form>
        {{/if}}

        <div>
          <div>Title</div>
          <input type="text" id="event-title" name="title" value="{{title}}" required>
        </div>

        <div>
          <div>Location</div>
          <textarea id="event-location" name="location" required>{{location}}</textarea>
        </div>

        <div>
          <div>Description</div>
          <textarea id="event-description" name="description" required>{{description}}</textarea>
        </div>

        <div>
          {{#if isCreate}}
          <button id="create-event">Create</button>
          {{else}}
          <button id="update-event">Update Event</button>
          <button type="button" id="delete-event">Delete</button>
          {{/if}}
        </div>

      </form>
  </div>
</div>


<script src="/js/event.js"></script>