        <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />
<section>
    <section class="row">

        <div class="card col-12 col-md-8 mb-3 p-4">
            <h1 class="mb-3 ">{{title}}</h1>
            <div class="">
                <img src="{{imageSrc}}" alt="event-details-image" class="w-100 rounded mb-3">
                <div class="">
                    <h3>Created by: {{capitalize user.username}}</h3>
                    <p><span class="h6">Address: {{address}}</span></p>
                    <p><span class="h6">Description:</span> {{description}}</p>
                </div>
                <div id="map" data-zipcode="{{zipcode}}" style="height: 400px; width: 100%"></div>
            </div>
        </div>
<script>
   mapboxgl.accessToken = 'pk.eyJ1IjoibWVhZGtjIiwiYSI6ImNscHQ3Y2Q3eDA5c28ya28xNmowMDI3ZGoifQ.A4FW4_762haYazL71o1bZg'; // Mapbox API access token (generate a free one on their site)


   // Get the map container and zip code
   const mapContainer = document.getElementById('map');
   const zipcode = mapContainer.dataset.zipcode;


   // Fetch coordinates based on the zip code using Mapbox Geocoding API
   fetch(`https://api.mapbox.com/geocoding/v5/mapbox.places/${zipcode}.json?access_token=${mapboxgl.accessToken}`)
       .then(response => response.json())
       .then(data => {
           const coordinates = data.features[0].center;


           // Initialize the map with dynamic center and zoom
           const map = new mapboxgl.Map({
               container: 'map', // container id
               style: 'mapbox://styles/mapbox/streets-v11', // map style
               center: coordinates, // dynamic center based on zip code
               zoom: 13 // adjust the zoom level
           });
       })
       .catch(error => console.error('Error fetching coordinates:', error));
</script>

        <div class="card col-12 col-md-4 mb-3 ">
            <div class="card-body">
                <h1 class="card-title">Guests</h1>
                <div class="mb-3">
                    {{#if loggedIn}}
                    {{#if isGuest}}
                    <button id="guset-signout" data-guestid="{{currentUserId}}" class="btn btn-secondary">Sign
                        Out</button>
                    {{else}}
                    <button id="guest-signup" data-eventid="{{id}}" class="btn btn-info">Sign Up</button>
                    {{/if}}
                    {{else}}
                    <p>Please <a href="/login">Login</a> to sign up for this event!</p>
                    {{returnTo}}
                    <button type="button">Sign Up</button>
                    {{/if}}
                </div>
                <div>
                    <article class="guest-content">
                        {{#each (reverse eventGuests)}}
                        <h4>- {{capitalize username}}</h4>
                        <hr>
                        {{/each}}
                    </article>
                </div>
            </div>
        </div>


        <div class="card col-12 p-4">
            <header>
                <h3>Comments</h3>
                <button id="add-comment" class="btn btn-primary mb-3">Add Comment</button>
            </header>
            <div class="comment-form-wrapper hide">
                <form class="form comment-form">
                    <input id="comment-id" type="number" hidden>
                    <div>
                        <textarea class="form-control mb-3"></textarea>
                    </div>
                    <div class="mb-3">
                        {{#if loggedIn}}
                        <button class="btn btn-primary" data-eventid="{{id}}" id="submit-comment">Submit</button>
                        {{else}}
                        <p>Please <a href="/login">Login</a> to Comment!</p>
                        <button class="btn btn-primary" type="button">Submit</button>
                        {{/if}}
                        <button type="button" id="cancel-comment" class="btn btn-danger">Cancel</button>
                    </div>

                </form>
            </div>
            <div class="comments-content ">
                <article id="comments">
                    {{#each (reverse comments)}}
                    <div class="position-relative">
                        <h4 class="col-9">- {{capitalize user.username}}, {{format_date createdAt}}</h4>
                        <p class="col-9">{{content}} <span class="text-secondary">{{#if isEdited}}(edited){{/if}}</span>
                        </p>
                        {{#if (equal userId currentUserId)}}
                        <button class="delete-comment button btn btn-danger" data-commentid="{{id}}"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash btn-danger" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z">
                                </path>
                                <path
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z">
                                </path>
                            </svg></button>
                        <button class="edit-comment button btn btn-warning" data-commentid="{{id}}"
                            data-commentcontent="{{content}}"><svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 16 16" width="16" height="16">
                                <path
                                    d="M11.013 1.427a1.75 1.75 0 0 1 2.474 0l1.086 1.086a1.75 1.75 0 0 1 0 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 0 1-.927-.928l.929-3.25c.081-.286.235-.547.445-.758l8.61-8.61Zm.176 4.823L9.75 4.81l-6.286 6.287a.253.253 0 0 0-.064.108l-.558 1.953 1.953-.558a.253.253 0 0 0 .108-.064Zm1.238-3.763a.25.25 0 0 0-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 0 0 0-.354Z">
                                </path>
                            </svg></button>
                        {{/if}}
                        <hr>
                    </div>
                    {{/each}}
                </article>
            </div>
        </div>
    </section>
</section>


<script src="/js/commentGuest.js"></script>