<section class="card">
    <img src="{{imageSrc}}" alt="">
    <div class="card-body">
        <h1 class="card-title">{{title}}</h1>
        <div class="card-text">
            <h3>Created by: {{capitalize user.username}}</h3>
            <h4>Description:</h4>
            <p>{{description}}</p>
        </div>
        <div class="card">
            <header>
                <h2>Comments</h2>
            </header>
            <div class="comments-content">
                <article>
                    {{#each comments}}
                    <div>    
                        <h4>- {{capitalize user.username}}, {{format_date createdAt}}</h4>
                        <p>{{content}} <span class="text-secondary">{{#if isEdited}}(edited){{/if}}</span> </p>
                        {{#if (equal userId currentUserId)}}
                        <button class="delete-comment" data-commentid="{{id}}">Delete</button>
                        <button class="edit-comment" data-commentid="{{id}}" data-commentcontent="{{content}}">Edit</button>
                        {{/if}}
                    </div> 
                    <hr>
                    {{/each}}
                </article>
                <button id="add-comment">Add Comment</button>
            </div>
            <div class="comment-form-wrapper hide">
                <form class="form comment-form">
                    <input id="comment-id" type="number" hidden>
                    <div>
                        <textarea></textarea>
                    </div>
                    <div>
                        {{#if loggedIn}}
                        <button data-eventid="{{id}}">Submit</button>
                        {{else}}
                        <p>Please <a href="/login">Login</a> to Comment!</p>
                        <button type="button">Submit</button>
                        {{/if}}
                        <a href="/events/{{id}}">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<section class="card">
    <div class="card-body">
        <h1 class="card-title">Guests</h1>
        <div class="">
            {{#if loggedIn}} 
            {{#if isGuest}}
            <button id="guset-signout" data-guestid="{{currentUserId}}">Sign Out</button>
            {{else}}
            <button id="guest-signup" data-eventid="{{id}}">Sign Up</button>
            {{/if}}
            {{else}}
            <p>Please <a href="/login">Login</a> to sign up for this event!</p>
            {{returnTo}}
            <button type="button">Sign Up</button>
            {{/if}}  
        </div>
        <div class="card">

            <div class="comments-content">
                <article>
                    {{#each (reverse eventGuests)}} 
                    <h4>- {{capitalize username}}</h4>
                    <hr>
                    {{/each}}
                </article>
            </div>

        </div>

    </div>

</section>

<script src="/js/commentGuest.js"></script>